.signin-container {
    background-image: url("../Untitled design.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 768px) {
    .signin-container {
      background-position: center;
    }
  }
  

.signup-container {
    background-image: url("../Untitled design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 180vh;
}
