.exam-container{
    background-image: url("../course-container.png");
    background-size: contain;

    height: 100vh;

    
}

.test-container{
    background-image: url("../course-container.png");
    background-size: contain;
    height: 100vh;
}


.exam-container {
    padding: 20px;

  }
  
  .exam-course-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .exam-card {
    width: 250px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .exam-card-image {
    height: 200px;
    overflow: hidden;
  }
  
  .exam-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .exam-card-details {
    padding: 20px;
  }
  
  .exam-course-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .exam-links {
    display: flex;
    align-items: center;
  }
  
  .exam-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
  }
  
  .exam-btn:hover {
    background-color: #0056b3;
  }
  
  .exam-btn svg {
    margin-right: 5px;
  }
  

  /* Exams.css */
.test {
    padding: 15px;
  }
  
  .test-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .test-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .test-card-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .test-btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .test-btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  