.friend-container{
    background-image: url("../course-container.png");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}


  
  .friend-requests-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: 4px;
  }
  

  .friends-list {
    margin-top: 20px;
  }
  
  .friends-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .friend-card {
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: rgb(253, 253, 253);
  }
  
  .friend-card:hover {
    transform: translateY(-5px);
  }
  
  .friend-card img {
    width: 100%;
    border-radius: 50%;
  }
  
  .friend-card h4 {
    margin-top: 10px;
    text-align: center;
  }
  