body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  height: 70vh;
  font-size: 24px;
  margin-bottom: 10px;
}

  .app {
    background: #a8d5e5; 
  }
  

h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu-item-1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}

.topbar-row{
  color: white;
}



.menu-item.active {
  background-color:white;
  color: black;
}




/* Add similar styles for other menu items */

