@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbars but keep scrolling functionality */
.hide-scrollbar {
    overflow: auto;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  